@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans:wght@300&family=Open+Sans:ital,wght@1,500&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    
}
html{
    scroll-behavior: smooth;
}
h1{
    display: flex;
    justify-content: center;
    margin: 20px 20px 0 60px;
}

/* Início do design do card Plano Básico */
.mainPlanos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.5rem;
    align-items: center;
}
h4{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: aqua;
}
.valorR{
    padding-left: 34px;
}
.ValorQuarenta {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}
.allmoth{
    padding-left: 21%;
}
.sevenDays{
    padding-left: 5%;
    margin-bottom: 30px;
}
.comeceAgora{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 35px;
}
button{
    padding: 10px;
    border-radius: 50px;
    background-color: aqua;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.planoBasico {
    background-color: rgba(0, 0, 0, 1);
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 16rem;
    border-radius: 15px;
    color: white;
    height: 33rem;
}
.explicationBasic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.tituloBasic{
    font-size: 16px;
    margin-bottom: 10px;
    
}
.descricaoBasic{
    margin-left: 10px;
    font-size: 14px;
}
.sectionBasicB{
    display: flex;
    justify-content: center;
    color: aqua;
    font-size: 25px;
    
}
.sectionBasicB:hover{
    font-size: 35px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.sectionBasicV:hover{
    font-size: 35px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
/* Fim do Design do Card Básico */

.planoVip{
    background-color: rgba(0, 0, 0, 1);
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 17rem; 
    border-radius: 15px;
    color: white;
    height: 38rem;
}
.planoIntermediario {
    background-color: rgba(0, 0, 0, 1);
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 16rem;
    border-radius: 15px;
    color: white;
    height: 31rem;
}
#basicB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.explDoBasico {
    background-color: rgba(232, 232, 232, 1);
    display: flex;
    margin-bottom: 80px;
    padding: 20px;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.tituloExplDoBasico{
    font-weight: bold;
    padding-bottom: 15px;
    font-size: 40px;
}
.example{
    display: flex;
    justify-content: center;
}
.descricaoDoservicoB {
    margin-bottom: 30px;
    line-height: 2rem;
}
.comeceAgora2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.descricaoVip{
    margin-left: 10px;
    font-size: 14px;
}
.sectionBasicV{
    display: flex;
    justify-content: center;
    color: aqua;
    font-size: 25px;
}
.example img {
    width: 100%;
    margin-bottom: 30px;
}

#vipV{
    background-color: rgba(232, 232, 232, 1);
    display: flex;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.containerTituloDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.example2{
    display: flex;
    justify-content: center;
}
.example2 img{
    width: min(366px, 86%);
    height: 100%;
    margin-bottom: 20px;
}
.chamadaDeVideo{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.explicaVideo{
    /* background-color: aqua; */
    display: flex;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;
    line-height: 2rem;
}
.comeceAgora3{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 22px;
}

.buttonClass1:hover{
    background: rgb(255, 255, 255);
    transition: 0.8s;
    transform: scale(1.3);
    

}
.buttonClass1, a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.planoBasico:hover{
    transition: 0.8s;
    transform: scale(1.2);
}
.planoVip:hover{
    transition: 0.8s;
    transform: scale(1.2);
}
.planoIntermediario:hover{
    transition: 0.8s;
    transform: scale(1.2);
}




@media only screen and (min-width: 704px){
    .descricaoBasic{
        padding-bottom: 80px;
    }
    .descricaoDoservicoB{
        padding: 0 150px 0 150px;
    }
    .explicaVideo{
        padding: 0 150px 0 150px;
    }
    .planoBasico{
        height: 37rem;
    }
    .planoVip{
        height: 37rem;
    }
}
@media only screen and (min-width: 1024px){
    .descricaoDoservicoB{
        padding: 0 150px 0 150px;
    }
    .explicaVideo{
        padding: 0 150px 0 150px;
    }
    .comeceAgora3 {
        margin-top: 80px;
    }
    .planoIntermediario{
        height: 37rem;
    }
    .planoVip{
        height: 41rem;
    }
    .sectionBasicV{
        margin-top: 35px;
    }
}

@media only screen and (min-width: 1439px){
    #vipV{
        display: flex;
        height: 75vh;
    }
    .containerTituloDesc{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .containerDiv{
        flex-direction: row;
    }
    .example img {
        width: 400px;
    }
    .example2{
        width: 600px;
        margin-left: 24%;
    }
    .descricaoDoservicoB{
        width: min(60%, 60%);
        padding: 0 50px 0 50px;
    }
    .explicaVideo{
        width: 50%;
        padding: 0;
    }
    .chamadaDeVideo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .mainPlanos {
        height: 75vh;
        
    }
    
    
    
}