body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logoEmpresa img{
    margin: 10px 0px 10px 40px;
}
.imgHamburgue{
    margin-right: 20px;
}

.cabecalhoCbl{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgba(2, 215, 228, 1);
}


/* Configuração do Menu lateral do W3School. */
@media only screen and (max-width: 767px){
    
.navegacaoMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(2, 215, 228, 1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.navegacaoMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}
  
.navegacaoMenu a:hover {
    color: #f10e0e;
}
  
.navegacaoMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  /* Fim da configuração do Menu lateral */
}


/* Início da configuração do Menu horizontal para Table e Desktop pequeno, médio e grande. */
@media only screen and (min-width: 768px){
    .logoEmpresa img{
        margin-left: 80px;
    }
    .imgHamburgue{
        display: none;
    }
    
    .navegacaoMenu{
        display: flex;
        justify-content:space-around;
    }
    .navegacaoMenu a{
        display: flex;
        padding: 20px 50px 20px 0px;
        text-decoration: none;

    }
    .navegacaoMenu a:hover{
        text-decoration: underline;
        color: white;
        font-weight: bold;
    }
 
    #closebtnId{
        display: none;
    }
}
@media only screen and (min-width: 1024px){
    .logoEmpresa img{
        margin-left: 200px;
    }

}